body {
    padding: 10px;
}

.price {
    font-size: 28px;
    font-weight: bold;
}

.botMargin1 {
    margin-bottom: 6px;
}

.formFieldSpacing {
    margin-bottom: 4px;
}

.listingSpacing {
    padding: 4px;
}
