{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

    {% if category %}
        <h2>Active Listings: {{ category }}</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}

    <div class="listingSpacing"> 
        {% for listing in listings %}
            <a class="listingLink" href="{% url 'listing' listing.id %}">
                <div class="container-fluid border mb-3">
                    <div class="row">
                        <div class="col-4 p-2">
                            {% if listing.image != "" %}
                                <img class="img-fluid mx-auto d-block" src="{{ listing.image }}" alt="display image">
                            {% endif %}
                        </div>
                        <div class="col-8 p-2">
                            <div class="botMargin1">
                                <h4>{{ listing.title }}</h4>
                            </div>
                            <div class="botMargin1">
                                <b>Price:</b>
                                {% if listing.bids.all.count != 0 %}
                                    ${{ listing.bids.all.last.amount }}
                                {% else %}
                                    ${{ listing.startingBid }}
                                {% endif %}
                            </div>
                            <div class="botMargin1">
                                {{ listing.description }}
                            </div>
                            <div class="text-secondary">
                                <div class="subtext">
                                    Created {{ listing.date }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% empty %}
            No active listings.
        {% endfor %}
    </div>  

{% endblock %}