{% extends 'auctions/layout.html' %}

{% block body %}

    {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    {% if listing.active %}
        <h2 class="mb-2">Listing: {{ listing.title }}</h2>
    {% else %}
        <h2 class="mb-2">Listing: {{ listing.title }} (closed)</h2>
    {% endif %}

    <img class="w-50 h-auto" src="{{ listing.image }}">

    <div class="my-4">
        <strong>Description:</strong><p>{{ listing.description }}</p>
    </div>

    <div class="mb-4">
        {% if listing.active %}
            <div class="mb-2">
                {% if listing.bids.all.count != 0 %}
                    <div class="price">Price: ${{ listing.bids.all.last.amount }}</div>
                {% else %}
                    <div class="price">Price: ${{ listing.startingBid }}</div>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
                <div>
                    {% if listing.bids.all.count != 0 and listing.bids.all.last.bidder.username == user.username %}
                        <div class="subtext">
                            {{ listing.bids.all.count }} bid(s) so far. Your bid is the current bid.
                        </div>
                    {% else %}
                        <div class="subtext">
                            {{ listing.bids.all.count }} bid(s) so far.
                        </div>        
                    {% endif %}
                </div>
                {% if listing.lister == user %}
                    <div>
                        <form action="{% url 'closelisting' listing.id %}" method=POST>
                            {% csrf_token %}
                            <div class="mt-1">
                                <input class="btn btn-primary btn-sm" type="submit" value="Close listing">
                            </div>                       
                        </form>
                    </div>
                {% else %}
                    <div>            
                        <form action="{% url 'bid' listing.id %}" method=POST>
                            {% csrf_token %}
                            {{ bidform.non_field_errors }}
                            <div class="mb-3">
                                {{ bidform.amount }}
                                {{ bidform.amount.errors }} 
                            </div>
                            <input class="btn btn-primary btn-sm" type="submit" value="Place Bid">
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            {% if listing.winner == NULL %}
                <div class="winningMsg">No bids, no winner.</div>
            {% elif listing.winner == user %}
                <div class="winningMsg">Congratulations, you won the bid for ${{ listing.bids.all.last.amount }}!</div>
            {% else %}
                <div class="winningMsg">Sold to {{ listing.winner.username }} for ${{ listing.bids.all.last.amount }}!</div>
            {% endif %}
        {% endif %}
    </div>

    <div class="mb-4">
        <h4>Details</h4>
        <ul>
            {% if listing.lister != user %}
                <li>Listed by: <a href="{% url 'userlistings' listing.lister %}">{{ listing.lister }}</a></li>
            {% else %}
                <li>Listed by: <a href="{% url 'mylistings' listing.lister %}">{{ listing.lister }}</a></li>
            {% endif %}
            <li>Category: {{ listing.category }}</li>
        </ul>
        {% if user.is_authenticated %}
            {% if listing.lister != user %}
                <form action="{% url 'alterWatchlist' user.username %}" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="listingId" value="{{ listing.id }}">
                    {% if inWatchlist %}
                        <div class="form-check">
                            <input onChange="this.form.submit()" class="form-check-input" type="checkbox" id="flexCheckChecked" checked name="remove">
                            <label class="form-check-label" for="flexCheckChecked">Watchlist</label>
                        </div>
                    {% else %}
                        <div class="form-check">
                            <input onChange="this.form.submit()" class="form-check-input" type="checkbox" id="flexCheckDefault" name="add">
                            <label class="form-check-label" for="flexCheckDefault">Watchlist</label>
                        </div>
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
    </div>

    <div>
        <h4>Comments</h4>
        {% if user.is_authenticated %}
            <form class="mb-2" action="{% url 'comment' listing.id %}" method="POST">
                {% csrf_token %}
                {{ commentform.non_field_errors }}
                {{ commentform.content }}
                {{ commentform.content.errors }} 
                <input class="btn btn-primary btn-sm" type="submit" value="Submit">    
            </form>
        {% endif %}
        <div class="container-fluid border p-2">
            {% for comment in listing.comments.all %}
                <div class="container-fluid border my-2">
                    <strong>{{ comment.commenter.username }}</strong> | {{ comment.date }}
                    <div class="py-2 mb-2">{{ comment.content }}</div>  
                </div>
            {% empty %} 
                No comments.
            {% endfor %}
        </div>
    </div>

{% endblock %}