{% extends 'auctions/layout.html' %}

{% block body %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% if listing.active %}
        <h2 class="mb-2">Listing: {{ listing.title }}</h2>
    {% else %}
        <h2 class="mb-2">Listing: {{ listing.title }} (closed)</h2>
    {% endif %}

    {% if user.is_authenticated %}
        {% if listing.lister != user %}
            <form action="{% url 'alterWatchlist' user.username %}" method="POST">
                {% csrf_token %}
                    <input type="hidden" name="listingId" value="{{ listing.id }}">
                {% if inWatchlist %}
                    <input class="btn btn-outline-secondary btn-sm" type="submit" name="remove" value="Remove from watchlist"> 
                {% else %}
                    <input class="btn btn-outline-secondary btn-sm" type="submit" name="add" value="Add to watchlist">              
                {% endif %}
            </form>
        {% endif %}
    {% endif %}

    <div class="my-4">
        <img class="w-50 h-auto" src="{{ listing.image }}">
        <p>{{ listing.description }}</p>
    </div>

    <div class="mb-4">
        {% if listing.active %}
            <div class="mb-2">
                {% if listing.bids.all.count != 0 %}
                    <div class="price">${{ listing.bids.all.last.amount }}</div>
                {% else %}
                    <div class="price">${{ listing.startingBid }}</div>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
                <div>
                    {% if listing.bids.all.count != 0 and listing.bids.all.last.bidder.username == user.username %}
                        <div class="subtext">
                            {{ listing.bids.all.count }} bid(s) so far. Your bid is the current bid.
                        </div>
                    {% else %}
                        <div class="subtext">
                            {{ listing.bids.all.count }} bid(s) so far.
                        </div>        
                    {% endif %}
                </div>
                {% if listing.lister == user %}
                    <div>
                        <form action="{% url 'closelisting' listing.id %}" method=POST>
                            {% csrf_token %}
                            <div class="mt-1">
                                <input class="btn btn-primary" type="submit" value="Close listing">
                            </div>                       
                        </form>
                    </div>
                {% else %}
                    <div>            
                        <form action="{% url 'bid' listing.id %}" method=POST>
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="mb-3">
                                {{ form.amount }}
                                {{ form.amount.errors }} 
                            </div>
                            <input class="btn btn-primary" type="submit" value="Place Bid">
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            {% if listing.winner == NULL %}
                <div class="winningMsg">No bids, no winner.</div>
            {% elif listing.winner == user %}
                <div class="winningMsg">Congratulations, you won the bid for ${{ listing.bids.all.last.amount }}!</div>
            {% else %}
                <div class="winningMsg">Sold to {{ listing.winner.username }} for ${{ listing.bids.all.last.amount }}!</div>
            {% endif %}
        {% endif %}
    </div>

    <div>
        <h4>Details</h4>
        <ul>
            <li>Listed by: <a href="{% url 'user' listing.lister %}">{{ listing.lister }}</a></li>
            <li>Category: {{ listing.category }}</li>
        </ul>
    </div>
{% endblock %}