{% extends 'auctions/layout.html' %}

{% block body %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <h2>Listing: {{ listing.title }}</h2>

    {% if user.is_authenticated %}
        <form action="{% url 'alterWatchlist' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="listing" value="{{ listing.id }}">
            {% if inWatchlist %}
                <input type="submit" name="remove">
            {% else %}
                <input type="submit" name="add">
            {% endif %}
        </form>
    {% endif %}

    <div>
        <div class="mb-4">
            <img class="w-50 h-auto" src="{{ listing.image }}">
            <p>{{ listing.description }}</p>
        </div>
        <div class="mb-4">
            <div class="mb-2">
                {% if listing.bids.all.count != 0 %}
                    <div class="price">${{ listing.bids.all.last.amount }}</div>
                {% else %}
                    <div class="price">${{ listing.startingBid }}</div>
                {% endif %}
            </div>
            <div>
                {% if listing.bidss.all.count != 0 and listing.bids.all.last.bidder.username == user.username %}
                    <div class="subtext">
                        {{ listing.bids.all.count }} bid(s) so far. Your bid is the current bid.
                    </div>
                {% else %}
                    <div class="subtext">
                        {{ listing.bids.all.count }} bid(s) so far.
                    </div>        
                {% endif %}
            </div>
            <div>            
                <form action="{% url 'bid' listing.id %}" method=POST>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        {{ form.amount }}
                        {{ form.amount.errors }} 
                    </div>
                    <input class="btn btn-primary" type="submit" value="Place Bid">
                </form>
            </div>
        </div>
        <div>
            <h4>Details</h4>
            <ul>
                <li>Listed by: <a href="{% url 'user' listing.lister %}">{{ listing.lister }}</a></li>
                <li>Category: {{ listing.category }}</li>
            </ul>
        </div>
    </div>
{% endblock %}